<div class="container">
  <div class="row">
    <div class="task_new col-12 border mt-5 mb-5">
      <div class="task_new_form">
        <% if @task.errors.any? %>
          <div id="error_explanation mt-3 mx-auto">
            <h4><%= @task.errors.count %>件の空欄があります。</h4>
            <ul>
              <% @task.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= form_with model: @task, local:true do |f| %>
          <div class="task-new-title form-group pt-3 pl-3 pb-3">
            <div class="row pb-2">
              <%= f.label "タイトル:" %>
            </div>
            <%= f.text_field :task_title %>
            <small id="passwordHelpBlock" class="form-text text-muted pt-1">例：今から遊びませんか</small>
          </div>
          <div class="task-new-body form-group pt-3 pl-3 pb-3">
            <div class="row pb-2">
              <%= f.label "詳細を入力してください:" %>
            </div>
            <%= f.text_field :task_body %>
            <small id="passwordHelpBlock" class="form-text text-muted pt-1">例：◯◯時から〜◯◯時まで！</small>
          </div>
          <div class="form-group text-center">
            <%= f.submit "募集を投稿する", class: "btn btn-primary  mt-3 mb-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>